<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="hypervs.com.android.wifi.resources"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="34" />
    <application
        android:hasCode="false"
        android:extractNativeLibs="false" />
    <overlay
        android:priority="1024"
        android:targetPackage="com.android.wifi.resources"
        android:targetName="WifiCustomization"
        android:isStatic="true" />
</manifest>